<html>
<head>
</head>
<body style="background: lightblue;">

<form action="/post" method="POST" style="background= green; font: "Arial", sans-serif; font-size: 30px;">
	<h1>Welcome {{username}}</h1>
	<h4> Post Here</h4>
	<input type="text" name = "content_name" placeholder="Content Name" required/> </br>
	<input type="text" name = "file_path" placeholder="File Path"/> </br>
	<label for = "public">Public:</label>
	<input type="checkbox" name = "public" placeholder=""/> </br>
	<input type="submit" value = Post /> </br>
</form>

<form action="/makeFriendGroup" method="POST" style= "background= green; font: "Arial", sans-serif; font-size: 30px;">
	<h4> Make Friend Group</h4>
	<input type="text" name = "group_name" placeholder="Group Name" required/> </br>
	<input type="text" name= "description" placeholder="Description" required/> </br>
	<input type="username" name= "username1" placeholder="Friend One" required/> </br>
	<input type="username" name= "username2" placeholder="Friend Two" required/> </br>
	<input type="submit" value = Make /> </br>

</form>

<form action="/addFriend" method="POST" style= "background= green; font: "Arial", sans-serif; font-size: 30px;">
	<h4> Add Friend to Group</h4>
	<input type="text" name= "group_name" placeholder="Group Name" required/> </br>
	<input type="text" name= "username" placeholder="Friend" required/> </br>
	<input type="submit" value = Add /> </br>

</form>

<form action="/tagFriend" method="POST" style= "background= green; font: "Arial", sans-serif; font-size: 30px;">
	<h4> Tag Friend</h4>
	<input type="id" name= "content_id" placeholder="Content ID" required/> </br>
	<input type="text" name= "username" placeholder="Friend" required/> </br>
	<input type="submit" value = Add /> </br>
	{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

</br><h3>My Posts</h3>

<table>
	<th>Post</th>
	<th>Name</th>
	<th>File Path</th>
	<th>Time</th>

{% for line in posts %}
	<tr>
		<td>{{line.id}}</td>
		<td>{{line.content_name}}</td>
		<td>{{line.file_path}}</td>
		<td>{{line.timest}}</td>
	</tr>
{% endfor %}
</table>


</br> <h3>Shared With Me</h3>

<table>
	<th>Post</th>
	<th>Name</th>
	<th>Creator</th>
	<th>Time</th>

{% for line in shared %}
	<tr>
		<td>{{line.id}}</td>
		<td>{{line.content_name}}</td>
		<td>{{line.username}}</td>
		<td>{{line.timest}}</td>
	</tr>
{% endfor %}
</table>

</br><h3>Pending Tags</h3>

<table>
	<th>Post</th>
	<th>Name</th>
	<th>Tagger</th>
	<th>Accept</th>

{% for line in pending %}
	<tr>
		<td>{{line.id}}</td>
		<td>{{line.content_name}}</td>
		<td>{{line.username_tagger}}</td>
		<td> <form action="/acceptTag" method="POST" style= "background= green; font: "Arial", sans-serif; font-size: 30px;">
			<input type="hidden" name = "post_id" value="1"/>
			<input type="hidden" name = "username_tagger" value= "UserB"/>
			<input type="submit" value = Accept /> </br>
		</form>
		<form action="/deleteTag" method="POST" style= "background= green; font: "Arial", sans-serif; font-size: 30px;">
			<input type="submit" value = Decline /> </br>
		</form>
	</td>
</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
